{% extends 'layout/base.html' %}

{% block 'title' %} Contacto {{ contact.name }}{% endblock 'title' %}

{% block 'content' %}

<span class="aux-btns"> <a href="{% url 'contact' %}">Volver atras</a></span>
<ul class='list'>

    <li><b>Nombre:</b>{{contact.name}}</li>
    <li><b>Es cliente clave?</b>{{contact.clave}}</li>
    <li><b>Es cronico?</b>{{contact.cronico}}</li>
    <li><b>Tiene visibilidad?</b>{{contact.visibilidad}}</li>
    <li><b>Ultimo ticket abierto por cliente?</b>{{contact.ultimoticket}}</li>
    <li><b>IGN tiene otro circuito en el mismo site?</b>{{contact.site}}</li>
    <li><b>Ancho de banda medio consumido:</b>{{contact.bw}}</li>
    <li><b>Picos de trafico:</b>{{contact.picos}}</li>
    <li><b>Comentarios:</b>{{contact.notes}}</li>
</ul>
{% endblock %}